.header {
  display: flex;
  background-color: plum;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 40px;

  &__main-link{
    text-decoration: none;
  }
  &__main-link:hover &__logo{
    color: black;
    transition: 300ms;
  }
  &__main-link:hover &__logo-span{
    color: white;
    transition: 300ms;
  }

  &__logo {
    font-size: 25px;
    color: white;
    font-weight: bold;

    &-span {
      font-size: 27px;
      color: black;
    }
  }

  &__links-container {
    color: white;
    font-size: 20px;

    & .fas {
      color: black;
      margin-right: 5px;
    }

    &-link {
      color: white;
      font-weight: bold;
      text-decoration: none;
      margin-right: 10px;
    }
    &-link:hover .fas{
      color: white;
      transition: 300ms;
    }
    &-link:hover{
      color: black;
      transition: 300ms;
    }
  }
  & .active{
    color: black;
  }
  & .active .fas{
    color: white;
  }
}