.modal {

  position: absolute;
  background-color: black;
  opacity: 0.9;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  &__window {
    background-color: white;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 500px;
    height: 300px;
    left: calc(50% - 250px);
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 3px 18px -2px rgba(250, 247, 250, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-header {
      display: flex;
      justify-content: space-between;
      background-color: black;
      height: calc(100%/10);
      align-items: center;
      padding: 10px;

      &__close-btn {
        background-color: #d44637;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        cursor: pointer;
      }
    }

    &-body {
      text-align: center;
      color: black;

    }

    &-footer {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;

      &-btn-ok {
        background-color: white;
        color: black;
        outline: none;
        border: 1px solid black;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
      }
      &-btn-ok:hover{
        color: hotpink;
      }

      &-btn-cancel {
        background-color: white;
        color: black;
        outline: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid black;
      }
      &-btn-cancel:hover{
        color: hotpink;
      }
    }
  }
}
