.footer{
  background-color: plum;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo-you{
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  &__logo-book{
    font-size: 19px;
    font-weight: bold;
  }
}