.header {
  background-color: plum;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 40px;

  &__logo {
    font-size: 25px;
    color: white;
    font-weight: bold;

    &-span {
      font-size: 27px;
      color: black;
    }
  }

  &__cart {
    color: white;
    font-size: 20px;

    &-text {
      color: black;
      font-weight: bold;
    }
  }
}