.purchaseForm{
  padding: 15px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid plum;
  min-width: 250px;
  min-height: 170px;
  box-shadow: 0 0 6px 5px rgba(34, 60, 80, 0.2);
  &__btn{
    background-color: plum;
    color: white;
    font-weight: bold;
    border: 1px solid plum;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    align-self: center;
    box-shadow: 0 0 10px 3px rgba(34, 60, 80, 0.2);
  }
  & input{
    height: 20px;
    border-radius: 5px;
    border: 2px solid plum;
    box-shadow: 0 0 3px 1px rgba(34, 60, 80, 0.2);

  }
}