.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid plum;
  width: calc(100% / 6);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  padding: 15px;

  &__image {
    width: 100%;
    height: calc(100% / 1.6);
  }

  &__title {
    font-size: 12px;
    text-align: center;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
  }

  &__vendor-code {
    font-size: 12px;
    color: saddlebrown;
  }

  &__color {
    font-size: 12px;
    color: saddlebrown;
    display: flex;
    align-items: center;

    &-form {
      clip-path: circle(50% at 50% 50%);
      width: 15px;
      height: 15px;
      margin-left: 5px;
    }
  }
  &__add-to-cart-btn{
    background-color: plum;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);;
  }
  &__add-to-cart-btn:hover{
    color: white;
    cursor: pointer;
  }
  &__favorites{
    align-self: flex-end;
    cursor: pointer;
    &-star{
      color: plum;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}