.cart-container{
  display: flex;
  justify-content: center;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__no-items-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__delete-item {
    border: none;
    background-color: plum;
    font-weight: bold;
    font-size: 15px;
    color: white;
    outline: none;
    align-self: flex-end;
    cursor: pointer;
  }

  &__delete-item:hover {
    color: black;
  }

}