.modal {

  position: absolute;
  background-color: black;
  opacity: 0.9;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  &__window {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 3px 18px -2px rgba(250, 247, 250, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-header {
      display: flex;
      justify-content: space-between;
      background-color: #d44637;

      &__close-btn {
        background-color: #d44637;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        cursor: pointer;
      }
    }

    &-body {
      text-align: center;

    }

    &-footer {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;

      &-btn-ok {
        background-color: darkblue;
        color: white;
        outline: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
      }

      &-btn-cancel {
        background-color: darkred;
        color: white;
        outline: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
